.modaldialog-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modaldialog-innerbox {
  min-width: 30%;
  min-height: 20%;
  background: var(--panelBackground);
  padding: 16px;
  -webkit-box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 30%);
  box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 30%);
  color: var(--foreground);
  border-radius: 4pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 11pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modaldialog-title {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 8pt;
}

.modaldialog-input {
  min-height: 24pt;
  border-radius: 4pt;
  border-style: hidden;
  margin-top: 12pt;
  margin-bottom: 12pt;
  padding: 4pt;
  font-size: 11pt;
  color: var(--background);
  background: var(--foreground);
}

.modaldialog-bottom-actions {
  display: flex;
  justify-content: flex-end;
}

.modaldialog-button {
  margin: 4pt;
  padding: 4pt 4pt;
  text-align: center;
  font-weight: bold;
  border-width: 0;
  background: var(--panelBackgroundLight);
  border-radius: 4pt;
  color: var(--foreground);
  cursor: pointer;
  transition: 0.5s;
  min-height: 48px;
  min-width: 80px;
}

.modaldialog-button:hover {
  background: var(--highlight);
}
