.gamelogic-codeeditor-container {
  width: 100%;
  position: fixed;
  top: 160px;
  bottom: 28px;
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: var(--panelBackground);
  -webkit-box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 60%);
  box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 60%);
  color: var(--foreground);

  display: flex;
  flex-direction: row;
}

.gamelogic-codeeditor-filetree {
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
  margin-left: 4pt;
  margin-right: 8pt;
  overflow-y: auto;
  min-width: 100px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gamelogic-codeeditor-filetree::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.gamelogic-codeeditor-fileentry {
  padding: 4px;
  background: var(--panelBackgroundLight);
  margin-bottom: 4pt;
  border-right: solid;
  border-top-right-radius: 4pt;
  cursor: pointer;
  border-color: var(--foreground);
  transition: 0.2s;
}

.gamelogic-codeeditor-fileentry:hover {
  background: var(--highlight);
}

.gamelogic-codeeditor-fileentry.active {
  background: var(--highlight);
  color: var(--background);
}

#codemirror-container {
  display: grid;
  flex-grow: 1;
  overflow-y: auto;
  background: var(--panelBackgroundLight);
}

.button-createscript {
  padding: 4pt 4pt;
  text-align: center;
  font-weight: bold;
  border-width: 0;
  background: var(--panelBackgroundLight);
  border-bottom-left-radius: 4pt;
  border-bottom-right-radius: 4pt;
  color: var(--foreground);
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 8pt;
}

.button-createscript:hover {
  background: var(--highlight);
}

.gamelogic-dynobj-submenu-container {
  width: 200pt;
  position: fixed;
  top: 160px;
  bottom: 28px;
  right: 0;
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: var(--panelBackground);
  -webkit-box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 60%);
  box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 60%);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  font-size: 10pt;
}
